<table class="table table-condensed table-hover" st-table="displayAssList" st-safe-src="assignmentListCompleted"
       style="margin-top: 10px">
  <thead>
  <tr class="sortable">
    <th style="width:10px"></th>
    <th style="width:150px;text-align: center;" st-sort="trainee.name" ><strong>Trainee</strong></th>
    <th  style="text-align: center;width:90px" st-sort="task.ATA"><strong>ATA</strong></th>
    <th st-sort="task.category" style="text-align: center;width:100px"><strong>Category</strong></th>
    <th st-sort="task.taskCode" style="text-align: center;width:100px"><strong>Task Code</strong></th>
    <th st-sort="task.subject" style="text-align: center;"><strong>Subject</strong></th>
    <th st-sort="approvedBy.name" style="text-align: center;width:120px"><strong>Reviewer</strong></th>
    <th st-sort="rating" style="text-align: center;width:50px"><strong>Rating</strong></th>
    <th st-sort="updatedAt" st-sort-default="reverse" style="text-align: center;"><strong>Completion Date</strong></th>
  </tr>
  <tr>
    <th></th>
    <th>
      <input st-search="trainee.name" placeholder="Search..." class="input-sm form-control" type="search"/>
    </th>
    <th>
      <input st-search="task.ATA" placeholder="Search..." class="input-sm form-control" type="search"/>
    </th>
    <th>
      <select st-search="task.category" class="form-control">
        <option value="">All</option>
        <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
      </select>
    </th>
    <th>
      <select st-search="task.taskCode" class="form-control">
        <option value="">All</option>
        <option ng-repeat="taskCode in taskCodes" value="{{taskCode}}">{{taskCode}}</option>
      </select>
    </th>
    <th>
      <input st-search="task.subject" placeholder="Search..." class="input-sm form-control" type="search"/>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="assignment in displayAssList | filter : {status: 'Completed'} track by $index" ng-click="openTaskModal(assignment)" style="cursor: pointer;">
    <td style="text-align: center;">{{$index + 1}}</td>
    <td style="text-align: center;">
      {{assignment.trainee.name}}
    </td>
    <td style="text-align: center;">
      {{assignment.task.ATA}}
    </td>
    <td style="text-align: center;">{{assignment.task.category}}</td>
    <td style="text-align: center;">{{assignment.task.taskCode || "-"}}</td>
    <td>{{assignment.task.subject}}</td>
    <td style="text-align: center;">{{assignment.approvedBy.name}}</td>
    <td style="text-align: center;">
      <div>
        <i class="fa fa-frown-o  fa-2x" id="1" aria-hidden="true" ng-if="assignment.rating==1"></i>
        <i class="fa fa-meh-o  fa-2x" id="2" aria-hidden="true" ng-if="assignment.rating==2"></i>
        <i class="fa fa-smile-o  fa-2x" id="3" aria-hidden="true" ng-if="assignment.rating==3"></i>
      </div>
    </td>
    <td style="text-align: center;">{{assignment.updatedAt | date: myDateFormat}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="8" class="text-center">
      <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
    </td>
  </tr>
  </tfoot>
</table>
