<div class="modal-content" id="newEngineModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">ATA {{current.task.ATA}} - {{current.task.ATADescription}}</h4>
  </div>
  <form name="newTaskForm" novalidate>
    <table border="0" width="100%">
      <tr>
        <td>
          <div class="form-group">
            <label for="serialNo" class="col-sm-3 control-label" style="font-weight:bold">Task Code</label>
            <div class="col-sm-9">
              <label class="control-label">{{current.task.taskCode}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>

        <td>
          <div class="form-group">
            <label for="model" class="col-sm-3 control-label" style="font-weight:bold">Manual Reference</label>
            <div class="col-sm-9">
              <label class="control-label">{{current.task.manualRef}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="model" class="col-sm-3 control-label" style="font-weight:bold">Category</label>
            <div class="col-sm-9">
             <label class="control-label">{{current.task.category}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="customer" class="col-sm-3 control-label" style="font-weight:bold">Subject</label>
            <div class="col-sm-9">
              <label class="control-label">{{current.task.subject}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="model" class="col-sm-3 control-label" style="font-weight:bold">Rating</label>
          <div class="col-sm-9">
            <i class="fa fa-frown-o  fa-5x" id="1" aria-hidden="true" ng-if="current.rating==1"></i>
            <i class="fa fa-meh-o  fa-5x" id="2" aria-hidden="true" ng-if="current.rating==2"></i>
            <i class="fa fa-smile-o  fa-5x" id="3" aria-hidden="true" ng-if="current.rating==3"></i>
          </div>
        </td>
      </tr>
    </table>
    <div class="modal-footer">
    </div>
  </form>
</div>



