<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">ATA {{current.task.ATA}} - {{current.task.ATADescription}}</h4>
  </div>
  <form name="newEngineForm" novalidate>
    <table border="0" width="100%">
      <tr>
        <td>
          <div class="form-group">
            <label for="model" class="col-sm-3 control-label" style="font-weight:bold">Category</label>
            <div class="col-sm-9">
             <label class="control-label">{{current.task.category}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="customer" class="col-sm-3 control-label" style="font-weight:bold">Subject</label>
            <div class="col-sm-9">
              <label class="control-label">{{current.task.subject}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="serialNo" class="col-sm-3 control-label" style="font-weight:bold">Cockpit Effect</label>
            <div class="col-sm-9">
              <label class="control-label">{{current.task.cockpitEffect}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="model" class="col-sm-3 control-label" style="font-weight:bold"></label>
            <div class="col-sm-9">
              <label class="control-label">{{current.task.cockpitMsg}}</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="model" class="col-sm-3 control-label" style="font-weight:bold">Questions</label>
            <div class="col-sm-9">
              <label class="control-label">
                <ol>
                  <li>
                    Indicate the airplane status : GO or NO GO
                  </li>
                  <li>
                    If airplane is GO IF :
                    <ul>
                      <li>Indicate the related MEL procedure item</li>
                      <li>Indicate the related repair interval</li>
                      <li>Indicate the related maintenance procedure (if applicable)</li>
                    </ul>
                  </li>
                  <li>
                    If airplane is NO GO :
                    <ul>
                      <li>Indicate the related trouble shooting procedure</li>
                    </ul>
                  </li>
                </ol>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="model" class="col-sm-3 control-label" style="font-weight:bold">Answer</label>
            <div class="col-sm-12" rows="5">
              <!--<textarea class="form-control" ng-model="current.answer" rows="5"></textarea>-->
              {{current.answer}}
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="modal-footer">
    </div>
  </form>
</div>



