<h2> Practical Training Element Type Qualification T1+T2 B777-200/300 (GE90)
  <small> VERSION 17</small>
</h2>

<h3>INTRODUCTION </h3>

<p>The objective of practical training is to gain the required competence in performing safe maintenance, inspections
  and routine work according to the maintenance manual and other relevant instructions and tasks as appropriate for the
  type of aircraft. It includes the awareness of the use of all technical literature and documentation for the aircraft,
  the use of specialist/special tooling and test equipment for performing removal and replacement of components and
  modules unique to type, including any on-wing maintenance activity.</p>

<p>Tasks to be completed shall be representative of the aircraft and systems both in complexity and in the technical
  input required to complete that task. While relatively simple tasks may be included, other more complex tasks shall
  also be incorporated and undertaken as appropriate to the aircraft type.</p>

<p>Practical training may be performed either following or integrated with the theoretical elements. However, it should
  not be performed before theoretical training.</p>

<p>Practical training may be supported by the use of training aids, such as trainers, virtual aircraft, aircraft
  components, synthetic training devices (STD), computer based training devices (CBT), etc.</p>

<p>Practical training may include instruction in a classroom or in simulators but part of the practical training should
  be conducted in a real maintenance or manufacturer environment.</p>

<p>The duration of the practical training should ensure that the content of training required by paragraph 3.2 of
  Appendix III to Part-66 is completed. Nevertheless, for aeroplanes with a MTOM equal or above 30000kg, the duration
  for the practical element of a type rating training course should not be less than two weeks unless a shorter duration
  meeting the objectives of the training and taking into account pedagogical aspects (maximum duration per day) is
  justified to the competent authority.</p>

<br/>

<h3>DESCRIPTION OF THIS PRACTICAL TRAINING ELEMENT</h3>
<dl>
  <dt>Glossary:</dt>
  <dd>•LOC : Location</dd>
  <dd>•FOT : Functional/Operational Test</dd>
  <dd>•SGH : Service and Ground Handling</dd>
  <dd>•R/I : Removal/Installation</dd>
  <dd>•MEL : Minimum Equipment List</dd>
  <dd>•TS : Troubleshooting</dd>
  <dd>•AMM : Aircraft Maintenance Manual</dd>
  <dd>•FIM Fault Isolation Manual</dd>
  <dd>•SDS : System Description Section</dd>
  <dd>•TN : Technical Notice</dd>
  <dd>•C/L Check List</dd>
  <dd>•MT : Main Task</dd>
  <dd>•AT : Additional Task</dd>
</dl>
<br/>
<dl>
  <dt>Classification</dt>
  <dd>•Subject : Tasks to be performed</dd>
  <dd>•Manual Reference : Task references (indicates the correct documentation to carry out the task)</dd>
  <dd>•Task Code : Indicates the type of task (LOC - FOT - SGH - R/I - MEL - TS)</dd>
  <dd>•Task Category : Indicates the category of the task : Main Task (MT) or Additional Task (AT)</dd>
  <dd>•Date : Date must be mentioned when the task is performed (DD-MM-YY)</dd>
  <dd>•Trainee's signature : Trainee must sign when the task is performed</dd>
  <dd>•Assessor's validation : Assessor must countersign (sign or stamp) when the task is performed.</dd>
  <dd>Assessor evaluates and validates the knowledge and skills of the trainee.</dd>
</dl>
<br/>

<h3>PRACTICAL TRAINING ELEMENT - INSTRUCTION FOR USE</h3>
<p>
  •Tasks classified LOC and TS can be performed either during theoretical training or practical training.
  •Tasks classified FOT - SGH - R/I and MEL must be performed during practical training.
  •After completion, each task shall be signed off by the trainee and countersigned by the assessor.
  •The assessor countersigns if:
  •the task is carried out according to the provided documentation
  •safety measures are respected
  •warning/caution and specific recommendations are observed
  •behavior of the trainee in the maintenance environment is adequate
  •Tasks are expected to be carried out on airplane. If a task, or a portion of the task, can't be carried out on the
  airplane, the procedure must be explained (possible aid: appropriate device, documentation, simulation, etc...).
  •For tasks classified TS (Troubleshooting) in Part 2, the trainee must :
  •answer the questions correctly
  •look up the correct references and procedures in the applicable manuals
  •look for the best repair solution
</p>
<br/>

<h3>VALIDATION AND ASSESSMENT RULES</h3>

<p>
  Tasks in this practical training element are classified MT (Main Tasks) or AT (Additional Tasks).
  According to Regulation paragraph 3.2 of Appendix III to Part-66, tasks classified MT represent subjects that are
  important for practical training purposes to ensure that the operation, function, installation and safety significance
  of key maintenance tasks is adequately addressed. Particularly where these can't be fully explained by theoretical
  training alone.
  Even if Additional tasks (AT) are not mandatory, they are an interesting and relevant complement for the trainee's
  training.
  A summary table (located next page) shall be filled in with the number of Main Tasks (MT) performed.
  The total amount is reported in the validation table (page 2).
  After the practical element has been completed, an assessment must be performed, which must comply with the following:
  •the assessment shall be performed by designated assessors appropriately qualified
</p>
<br/>

<h4>
  <strong>
    <dl>
      <dt>The practical element is validated if both the following conditions are met:</dt>
      <dd>• a minimum of 109 Main Tasks (MT) performed</dd>
      <dd>• final assessment</dd>
    </dl>
  </strong>
</h4>



